.wrapper{
    display: flex;
    flex: 1 100%;
}
.header{
    flex: 1 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0px 0px;

}
.top-left{
    width: 50%;
    align-content: flex-start;
}
.spacer{
    flex-grow: 10;
}
.top-right{
    width: 50%;
    text-align: right;
    justify-content: flex-end;
}
.card-holder{
    clear: both;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: stretch;
}
.card{
    max-width: 600px;
    min-height: 200px;
    justify-content: center;
    background-color: grey;
    margin: auto;
    padding: 10px 15px;
}